

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.tweetwidget {
	height: 500px;
	overflow-y: scroll;
	padding: 0;
	background-color: #333;
	border-color: #444;
	border-radius: 8px 8px 8px 8px;
}

.tweetwidget ul {
	padding-left: 0;
}

.tweetwidget li {
	display: block;
	border-bottom: 1px solid #e8e8e8;
	padding: 12px 10px 12px 10px;
}

.tweetwidget .inline {
	display: inline-block;
}

.loading {
	display: none;
	margin-top: 50%;
	margin-right: auto;
	margin-left: auto;	
}


















